<div class="jumbotron">
    <h1>CRTCCRM API</h1>
    <p class="lead">If you opened this page in your browser, you probably interested of our documentation, it's available through button below.</p>
    <p>
        <a href="/swagger" class="btn btn-primary btn-lg">Proceed to docuemntation page</a>
    </p>
</div>
<div class="row">
    &nbsp;
</div>